.quote-container {
    opacity: 1;
    transition: opacity 1s ease;
    padding: 1rem;
    border-radius: 0.5rem;
    color:rgba(255, 255, 255, 0.451);
    font-size: 2rem;
    font-weight: 500;
}

.quote-container.fade-out {
    opacity: 0;
}
