.posesDetails {
    display:flex;
    height: auto;
    justify-content: space-evenly;

    &__container {
        
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    &__image-container {
        display: flex;
        justify-content: space-evenly;
        
    }

    &__image {
        height: 300px;
        width: 350px;
       
    }
 
    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5;
      
        
       
    }

    &__video {
       
        display: flex;
        justify-content: center;
        width: 50%;
        height: auto;
    }
}