.posesDetails {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    max-height: 80vh;
    padding: 0 1rem;

    &__container {
        
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    &__image-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;       
    }

    &__image {
        max-height: 300px;
        background-color: rgba(0, 0, 0, 0.533);
        border-radius: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 47.5%;
        object-fit: contain;
          
    }
 
    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5;
        background-color: rgba(0, 0, 0, 0.533);
        margin-top: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        color:rgba(255, 255, 255, 0.475);
        font-weight: 600;

        &-lines {
            display: flex;
            font-size: 15rem;
            flex-direction: row;
        }
    
        &-title {
            font-size: 12rem;
            margin-bottom: 1rem;
            display: flex;
            
        }

        &-value {
            display: flex;
        }
  
    }

   

    &__video {
       
        display: flex;
        justify-content: center;
        width: 47.5%;
        height: auto;
        border-radius: 1rem;
       
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

