.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    min-height: 62vh;
}

.homepage {
    background-color: white;
}

.main-cards {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

&__skill {
    height: 200px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

&__categories {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}
}

.filters {
margin: 2rem 0;

&__buttons {
    width: 50%;
    padding: 1rem;
    background-color: grey;
    color: white;
    font-weight: 600;

}
}