* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.app-background {
    background-image: url('./images/yoga5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100vh;
    
}