@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    background-color: $default-background;
    color:$default-font-color;
    font-weight: 600;
    gap: 2rem;
    margin-bottom: 2rem;

    @include tablet {
        font-size: $tablet-fonts;
        padding: 0 1rem 1rem 1rem;
        justify-content: right;
    }

    &__buttons {
        padding: $mobile-button-padding;
        border-radius: $border-radius-half;
        background-color: rgba(0, 0, 0, 0.450);
        color:rgba(255, 255, 255, 0.659);
        font-weight: 600;
        font-size: $mobile-fonts;
        border: none;

        @include tablet {
            padding: $tablet-button-padding;
            font-size: $tablet-fonts;
            border-radius: $border-radius;
        }
    }
    
}