.footer {
    
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.450);
    color:rgba(255, 255, 255, 0.475);

    &__title {
        display: flex;
        justify-content: center;
    }

    &__images {
        height: auto;
        width: 5rem;
        padding: 0 1rem;
    }

    &__feedback {
        padding: 1rem;
        border-radius: 1rem;
        font-weight: 600;
        color:rgba(255, 255, 255, 0.475);
        background-color: rgba(0, 0, 0, 0.800);


    }
}