.footer {
    background-color: lightcoral;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

    &__title {
        display: flex;
        justify-content: center;
    }

    &__images {
        height: 50px;
        width: 50px;
    }
}