

$mobile-padding: 1rem;
$tablet-padding: 2rem;
$desktop-padding: 3rem;



//backgrounds


$default-background:rgba(0, 0, 0, 0.450);
$dark-shade-background: rgba(0, 0, 0, 0.600);
$darker-shade-background: rgba(0, 0, 0, 0.800);

//fonts

$default-font-color: rgba(255, 255, 255, 0.475);
$stronger-font-color: rgba(255, 255, 255, 0.600);
$default-font-weight: 400;
$bolder-fonts: 600;
$mobile-fonts: 0.875rem;
$tablet-fonts: 1rem;
$desktop-fonts: 1.2rem;

//borders

$border-radius: 1rem;
$border-radius-half: 0.5rem;

//buttons

$mobile-button-padding: 0.5rem 0.5rem;
$tablet-button-padding: 1rem 2rem;




